<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Wil ik zien!</th>
            <th scope="col">Artist</th>
            <th scope="col">Stage</th>
            <th scope="col">Start</th>
            <th scope="col">Eind</th>
        </tr>
    </thead>
    <tbody id="artist_data">
        {% for artist in data %}
        <tr>
            <td>
                <input id="{{ artist.id }}"
                type="checkbox"
                name="{{ artist.id }}"
                hx-get="/select_artist"
                hx-include="[name='{{ artist.id }}']"/>
                <input type="hidden" name="{{ artist.id }}" value="off"/>
            </td>
            <td>{{ artist.name }}</td>
            <td>{{ artist.stage }}</td>
            <td>{{ artist.startdate }}</td>
            <td>{{ artist.enddate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>