{% extends "base.html" %} {% block content %}

<body>

    <div class="container">
        <h1>Groups</h1>
        <p>Here you can create and join groups. By joining groups you and your friends show up in your personalized timetables.</p>
        <h3>Your groups</h3>
        <div class="container col-8" hx-get="/api/get_groups" hx-trigger="load" hx-swap="innerHTML" hx-target="#memberofgroups">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Group name</th>
                        <th scope="col"># Members</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody id="memberofgroups">

                </tbody>
            </table>
        </div>

        <h4>Open invites</h4>
        <p> t.b.d. </p>

        <h4>Create a private group</h4>
        <p> t.b.d. </p>

        <h4>Inivite friends to your groups</h4>
        <p> t.b.d. </p>


        <h3>Join one of the public groups</h3>
        <p><i>Please note that this means anyone in the group can see your username in their overview</i></p>

        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <label for="group-selector">Join group</label>
                    <select class="form-select" id="group-selector" name="groupselector">
                        {% for group in groups %}
                        <option value="{{ group.group_id }}">{{ group.group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>

            <div class="btn-group" role="group" aria-label="Group actions">
                <a hx-include="[name='groupselector']" hx-get="/api/join_group" hx-target="#memberofgroups" hx-swap="innerHTML"
                    class="btn btn-primary">Join</a>
                <a hx-include="[name='groupselector']" hx-get="/api/leave_group" hx-target="#memberofgroups" hx-swap="innerHTML"
                    class="btn btn-secondary">Leave</a>
            </div>
        </div>

    </div>
</body>

{% endblock %}