{% extends "base.html" %} {% block content %}

<body>

    <div class="container">
        <h1>Lowlands 2023</h1>

        <h3>What does this app do?</h3>
        <p>
            On the Line-up page you can select your favourite artists to create your own personalized timetable. You can also join and
            create groups with your friends so they will show up in your timetable as well!
        </p>


        <h3>Coming Soon</h3>
        <ul>
            <li><s>Ability to create your own groups and invite friends</s></li>
            <li>See time between artists in personal timetable</li>
            <li>See warning of overlap of artists in personal timetable</li>
            <l1>Be able to request to join a private group</l1>
            <li>Up-Next page with details of and countdown to next performance</li>
        </ul>

        <h3>Coming Later</h3>
        <ul>
            <li>Include maps/charts of stages</li>
            <li>Ability to live mark your location on the stage map to share with friends</li>
            <li>Other festivals besides Lowlands</li>
        </ul>
    </div>
</body>

{% endblock %}