{% extends "base.html" %} {% block content %}

<body>
    <div class="container">
        <h1>Artist Timetable</h1>

        <h3> Selecteer hier de artiesten die je wil zien! </h3>

        <div class="container mt-5">
            <form id="lineup-form" hx-get="/api/fill_table" hx-trigger="change, load" hx-swap="innerHTML" hx-target="#artist_timetable">
                <div class="row g-3">
                    <div class="col-md-3">
                            <label for="stage-selector" class="form-label">Select Stage:</label>
                            <select class="form-select" id="stage-selector" name="stageselector">
                                {% for stage in stages %}
                                <option value="{{ stage }}">{{ stage }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-md-3">
                        <label for="day-selector" class="form-label">Select Day:</label>
                        <select class="form-select" id="day-selector" name="dayselector">
                            {% for day in days %}
                            <option value="{{ day }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div id="artist_timetable"> </div>
    </div>

</body>


{% endblock %}