{% extends "base.html" %} {% block content %}

<body>
    <div class="container">
        <h1>Artist Timetable</h1>

        <div class="form-group">
            <label for="stage-selector">Stage:</label>
            <select class="form-control" id="stage-selector" hx-get="/fill_table" name="stageselector" hx-target="#artist_timetable" hx-swap="innerHTML" hx-trigger="load, change">
                {% for stage in stages %}
                <option value="{{ stage }}">{{ stage }}</option>
                {% endfor %}
            </select>
        <div id="artist_timetable"> </div>
    </div>

</body>


{% endblock %}